.carousel-item {
  position: relative;
}

.carousel-caption-s {
  position: absolute;
  bottom: 10px;  
  left: 10%;    
  color: white;  
  font-size: 18px; 
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding: 5px 10px; 
  border-radius: 5px;
}


.carousel-control-prev, .carousel-control-next {
  z-index: 2;  
}

.arrowButton {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 30px;
}

.arrowButton:focus {
  outline: none;
}
.carousel-inner {
  height: 100vh;
  overflow: hidden;
}
@media (max-width: 400px) {
  .carousel-inner {
    height: 30vh;
  }
}
@media (min-width: 400px) {
  .carousel-inner {
    height: 30vh;
  }
}
@media (min-width: 520px) {
  .carousel-inner {
    height: 40vh;
  }
}
@media (min-width: 630px) {
  .carousel-inner {
    height: 50vh;
  }
}

@media (min-width: 760px) {
  .carousel-inner {
    height: 60vh;
  }
}
@media (min-width: 900px) {
  .carousel-inner {
    height: 100vh;
  }
}


.title{
  font-weight: bold;
}

.complaint-details {
  text-align: center; /* Centers all text and button */
  padding: 20px; /* Adds padding around the content */
  background-color: #a8c6e4; /* Light background for the section */
  border-radius: 8px; /* Rounded corners for the section */
  margin-top: 20px; /* Adds space above the section */
  margin: 20px;
}

.complaint-details h4 {
  font-size: 1.5rem; /* Adjust the size of the header */
  font-weight: bold;
  color: #333; /* Darker text color */
  margin-bottom: 10px; /* Adds space between h4 and p */
}

.complaint-details p {
  font-size: 1.1rem; /* Slightly larger text for the paragraph */
  color: #555; /* Lighter color for the paragraph text */
  margin-bottom: 20px; /* Adds space between p and button */
}

.complaint-btn {
  background-color: #007bff; /* Bootstrap primary color */
  color: white; /* White text color */
  border: none; /* Remove border */
  padding: 10px 20px; /* Adds padding to the button */
  font-size: 1.1rem; /* Larger font size for the button */
  cursor: pointer; /* Change cursor on hover */
  border-radius: 4px; /* Rounded corners for the button */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.complaint-btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}


/* Arrow icon animation: moves top and bottom */
.arrow-icon {
  font-size: 1.5rem; /* Adjust the size of the arrow icon */
  position: relative; /* Position the icon absolutely inside the button */
  left: 10px; /* Position the arrow at the left of the button */
  animation: moveTopBottom 2s infinite alternate; /* Animation for top and bottom movement */
}

/* Keyframes for moving the icon up and down */
@keyframes moveTopBottom {
  0% {
      top: -20px; 
  }
  50% {
      top: 0px; 
  }
  100% {
      top: -20px; 
  }
}

/* Status colors */
.status.pending {
  color: rorange; 
}

.status.inprogress {
  color: blue    !important;
}

.status.completed {
  color: green;   
}
